@import "tailwindcss";

@theme{
    --color-background: #FDFBF7; /* Cream/Vanilla */
  --color-foreground: #3B2F2F; /* Dark Espresso */

  --color-primary: #93C572;       /* Pistachio Green */
  --color-primary-hover: #7FAE61; /* Darker Green for hover */

  --color-accent: #D23C3C;        /* Strawberry Red */

  --color-muted: #E7E5E4;           /* Stone-200 */
  --color-muted-foreground: #78716C; /* Stone-500 */

    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

/* Custom Floating Animation */
@keyframes float-smooth {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1); }
    100% { transform: translateY(0px); }
}

.animate-float {
    animation: float-smooth 6s ease-in-out infinite;
}